<?xml version="1.0" encoding="utf-8"?>
<SencerConfigs Length="108" DataAdapter="S@115200" Frequency="100" Timeout="15">
  <DataHeader Length="1" />
  <VelocityControlLevel DisplayName="限速等级" />
  <NullSencer Length="1" />
  <!--<VelocityOffset Length="1" Function="LF" DisplayName="行走Offset_LF" />-->
  <NullSencer Length="1" />
  <!--<ImuOffset Length="1" DisplayName="陀螺仪Offset" />-->
  <!--霍尔-->
  <!--以下三个行走相关的参数长度固定为8字节-->
  <!--<RPMSensor Function="M" Signed="true" Magnification="0.000135178" DisplayEnable="true" />-->
  <!--电机RPM-->
  <!--<NullSencer Length="6" />-->
  <!--单电机RPM补位-->
  <!--<WheelCoder Magnification="0.000166680044501467" LeftScale="0.5" WheelBase="0.927231508674091" RightScale="0.5" UseRPM="true" />  -->

  <!--<WheelCoder Magnification="5.94686286348E-06" LeftScale="0.50071" WheelBase="1.363144576" RightScale="0.49929" VirtualShaftLength="1.7" />-->

  <!--E35专用,外挂从动-->
  <WheelCoder Magnification="0.0001338851710982360919" LeftScale="0.49929" WheelBase="1.42874387709573975052994" RightScale="0.50071" VirtualShaftLength="1.7" />
  <!--左右从动轮编码器-->
  <IncrementalSteeringCoder Function="LF" Magnification="0.000174533" SteeringZero="139" DisplayName="转向角度反馈" />
  <IncrementalSteeringCoder Function="RF" Magnification="0.000174533" SteeringZero="285" DisplayName="转向角度反馈" />

  <!--转向反馈3-->
  <!--转向反馈4-->
  <!--<VirtualIncrementalSteeringCoder Magnification="0.0001745329" SteeringZero="0" DisplayEnable="true" DisplayName="虚拟中心角度反馈" />-->
  <!--虚拟中心角度反馈-->
  <HeightCoder Is32Bit="true" Signed="true" Magnification="3.84789884157645E-05" Zero="-1204" />
  <!--货叉高度编码器-->
  <!--以下为4字节长度的编码器使用(开启后Sencers.config上传长度配置需要加4)-->
  <!--<ForkDisplacementSencer Function="X" Signed="false" Is32Bit="true" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉前后测距-->
  <ForkDisplacementSencer Function="Y" Signed="false" Is32Bit="true" Magnification="9.1894872303662E-06" Zero="33527956" />
  <!--货叉横移测距-->
  <ForkDisplacementSencer Function="C" Signed="false" Is32Bit="true" Magnification="1.40763495097219E-05" Zero="18597249" />
  <!--货叉夹抱测距-->
  <!--<ForkDisplacementSencer Function="P" Signed="false" Is32Bit="true" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉倾角测距-->
  <!--<ForkDisplacementSencer Function="R" Signed="false" Is32Bit="true" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉翻滚角度测量-->
  <!--以下为2字节长度的模拟量使用(开启后Sencers.config上传长度配置需要加2)-->
  <!--<ForkDisplacementSencer Function="Z" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" Priority="Secondary" />-->
  <!--提升高度测距-->
  <!--<ForkDisplacementSencer Function="X" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉前后测距-->
  <!--<ForkDisplacementSencer Function="Y" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉横移测距-->
  <!--<ForkDisplacementSencer Function="C" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉夹抱测距-->
  <ForkDisplacementSencer Function="P" Signed="false" Is32Bit="false" Magnification="-1.8247443352717E-05" Zero="14940" />
  <!--货叉倾角测距-->
  <!--<ForkDisplacementSencer Function="R" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉翻滚角度测量-->、
  <!--A轴--><!--<HydraulicPressureSensor Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <!--货叉夹抱压力测量-->
  <!--备用1--><!--备用2-->
  <LaserDistance Function="FLD" Signed="false" Is32Bit="false" Magnification="5.26993793184214E-06" Zero="6386" />
  <!--货叉左叉尖测距-->
  <LaserDistance Function="FRD" Signed="false" Is32Bit="false" Magnification="5.13101183553397E-06" Zero="6163" />
  <!--货叉右叉尖测距-->
  <VoltageDevice Magnification="0.01" Zero="0" DisplayName="电池电压" />
  <CurrentDevice Signed="true" Magnification="0.01" Zero="0" DisplayName="电池电流" />
  <BatterySencer DisplayName="电池电量" />
  <BatteryAttenuation DisplayName="电池衰减次数" />
  <BatteryCapacity DisplayName="电池设计容量" />
  <FullBatteryCapacity DisplayName="电池满电容量" />
  <SurplusBatteryCapacity DisplayName="电池剩余容量" />
  <!--<ImageIndex Function="U" Length="4" DisplayName="上视编号" />-->
  <!--<ImageIndex Function="D" Length="4" DisplayName="下视编号" />-->
  <DataIndexReturn DisplayName="反馈时间戳" />
  <DataIndex DisplayName="消息序号" />
  <ErrorCode NewErrorCodeEnable="true" DisplayName="错误码" />
  <Gyroscope Function="X" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪X" />
  <Gyroscope Function="Y" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪Y" />
  <Gyroscope Function="Z" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪Z" />
  <Accelerometer Length="2" Function="X" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Y" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Z" Magnification="0.0098" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="X" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Y" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Z" Magnification="0.01" Signed="true" Zero="0" />
  <SwitchSencer Length="12" LowLayerStopDelay="250">
  <SwitchSencerValue Stop="0" Pause="2" Reset="3" Continue="4" ManualMode="5" AutoMode="6" LeftBackObstacle="10" RightBackObstacle="11" LiftButtom="33" FowardCollision="47" LowLayerStop="64" BrakeStatus="65" HeightCoderError="66" InChargingArea="67" Charging="68" ChargingSlow="69" ChargeStopped="70"
  LaserTouchClose="75" LaserTouchMedium="76" LaserTouchFar="77" LaserTouchBreakdown="78" TorqueOff="80" />
  <BitDisplays>
  <BitDisplay Index="0" Text="急停" />
  <BitDisplay Index="2" Text="暂停" />
  <BitDisplay Index="3" Text="复位" />
  <BitDisplay Index="4" Text="启动" />
  <BitDisplay Index="5" Text="手动模式" />
  <BitDisplay Index="6" Text="自动模式" />
  <BitDisplay Index="10" Text="左叉尖光电" />
  <BitDisplay Index="11" Text="右叉尖光电" />
  <BitDisplay Index="33" Text="货叉下限位" />
  <BitDisplay Index="47" Text="前安全触边" />

  <BitDisplay Index="64" Text="安全锁定" />
  <BitDisplay Index="65" Text="抱闸" />
  <BitDisplay Index="66" Text="高度初始化失败" />
  <BitDisplay Index="67" Text="充电到位" />
  <BitDisplay Index="68" Text="电池充电中" />
  <BitDisplay Index="69" Text="充电低速" />
  <BitDisplay Index="70" Text="充电完成" />
  <BitDisplay Index="75" Text="货叉接近激光近距" />
  <BitDisplay Index="76" Text="货叉接近激光中距" />
  <BitDisplay Index="77" Text="货叉接近激光远距" />
  <BitDisplay Index="78" Text="货叉接近激光故障" />
  <BitDisplay Index="80" Text="原车上电" />
  </BitDisplays>
  </SwitchSencer>
  <LaserTouchChannel Length="1" />   <!--LaserTouchChannel /-->
  <WeightSensor Function="L" Is32Bit="true" Magnification="1.0160108995975" Signed="true" Zero="-2" DisplayName="重量传感器1" />
  <WeightSensor Function="R" Is32Bit="true" Magnification="1.016108995975" Signed="true" Zero="-4" DisplayName="重量传感器2" />
   <!-- <NullSencer Length="9" /> -->
  <DataCRC />
  <DataTail Length="1" />
  <!--<SwitchDisplacementSensor Function="P" TopIndex="40" BottomIndex="41" TopValue="1" MiddleValue="0.5" BottomValue="0" />-->
  <MultiLidarSensor LogArgEnable="false" TimeOut="12" />
  </SencerConfigs>
