<?xml version="1.0" encoding="utf-8"?>
<SencerConfigs Length="99" DataAdapter="S@115200" Frequency="100" Timeout="15">
  <DataHeader Length="1" />
  <VelocityControlLevel DisplayName="限速等级" />
  <NullSencer Length="2" /><!--霍尔-->
  <RPMSensor Function="M" Signed="true" Magnification="0.0000222526288509036" DisplayEnable="true" />
  <NullSencer Length="6" />
  <IncrementalSteeringCoder Magnification="0.000174533" SteeringZero="0" DisplayName="转向角度反馈" /><!--转向反馈1-->
  <NullSencer Length="2" /><!--转向反馈2-->
  <NullSencer Length="2" /><!--转向反馈3-->
  <NullSencer Length="2" /><!--转向反馈4-->
  <NullSencer Length="2" /><!--虚拟中心角度反馈-->
  <NullSencer Length="4" /><!--货叉高度编码器-->
  <VoltageDevice Magnification="0.01" Zero="0" DisplayName="电池电压" />
  <CurrentDevice Signed="true" Magnification="0.01" Zero="0" DisplayName="电池电流" />
  <BatterySencer DisplayName="电池电量" />
  <BatteryAttenuation DisplayName="电池衰减次数" />
  <BatteryCapacity DisplayName="电池设计容量" />
  <FullBatteryCapacity DisplayName="电池满电容量" />
  <SurplusBatteryCapacity DisplayName="电池剩余容量" />
  <NullSencer Length="4" />
  <NullSencer Length="4" />
  <DataIndexReturn DisplayName="反馈时间戳" />
  <DataIndex DisplayName="消息序号" />
  <ErrorCode NewErrorCodeEnable="true" DisplayName="错误码" />
  <Gyroscope Function="X" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪X" />
  <Gyroscope Function="Y" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪Y" />
  <Gyroscope Function="Z" Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪Z" />
  <Accelerometer Length="2" Function="X" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Y" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Z" Magnification="0.0098" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="X" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Y" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Z" Magnification="0.01" Signed="true" Zero="0" />
  <SwitchSencer Length="12" LowLayerStopDelay="250">
    <SwitchSencerValue Stop="0" Pause="2" Reset="3" Continue="4" ManualMode="5" AutoMode="6" MaintenanceMode="7" 
					   LeftBackCollision="8" RightBackCollision="9" 
					   LaserLeftClose="16" 
					   LaserRightClose="20" 
					   LiftTop="32" LiftButtom="33" 
					   FowardCollision="47" 
					   TouchGoods1="50" TouchGoods2="51" LaserTouchGoods="60" LaserTouchGoods2="61"  
					   LowLayerStop="64" BrakeStatus="65" HeightCoderError="66" 
					   InChargingArea="67" Charging="68" ChargingSlow="69" ChargeStopped="70" PowerOffReq="71" TorqueOff="80" /><!--LaserTouchGoods3="62"/-->
    <BitDisplays>
      <BitDisplay Index="0" Text="急停" />
      <BitDisplay Index="2" Text="暂停" />
      <BitDisplay Index="3" Text="复位" />
      <BitDisplay Index="4" Text="启动" />
      <BitDisplay Index="5" Text="手动模式" />
      <BitDisplay Index="6" Text="自动模式" />
      <BitDisplay Index="7" Text="维护模式" />
      <BitDisplay Index="8" Text="左叉尖防护" />
      <BitDisplay Index="9" Text="右叉尖防护" />
      <BitDisplay Index="16" Text="左激光近距" />
      <BitDisplay Index="17" Text="左激光中距" />
      <BitDisplay Index="18" Text="左激光远距" />
      <BitDisplay Index="20" Text="右激光近距" />
      <BitDisplay Index="21" Text="右激光中距" />
      <BitDisplay Index="22" Text="右激光远距" />
      <BitDisplay Index="32" Text="货叉上限位" />
      <BitDisplay Index="33" Text="货叉下限位" />
      <BitDisplay Index="47" Text="前安全触边" />
      <BitDisplay Index="50" Text="水平到位左" />
      <BitDisplay Index="51" Text="水平到位右" />
	  <BitDisplay Index="60" Text="激光货物到位" />
	  <BitDisplay Index="61" Text="激光货物到位2" />
	  <!--BitDisplay Index="62" Text="激光货物到位3" /-->
      <BitDisplay Index="64" Text="安全锁定" />
      <BitDisplay Index="65" Text="抱闸" />
	  <BitDisplay Index="66" Text="高度初始化失败" />
      <BitDisplay Index="67" Text="充电到位" />
      <BitDisplay Index="68" Text="电池充电中" />
      <BitDisplay Index="69" Text="充电低速" />
      <BitDisplay Index="70" Text="充电完成" />
      <BitDisplay Index="71" Text="关机请求" />
      <BitDisplay Index="80" Text="原车上电" />
      <BitDisplay Index="89" Text="转向零位接近开关" />
    </BitDisplays>
  </SwitchSencer>
  <DataCRC />
  <DataTail Length="1" />
  <SwitchDisplacementSensor Function="Z" TopIndex="32" BottomIndex="33" TopValue="0.14" MiddleValue="0.085" BottomValue="0.03" />
</SencerConfigs>